{% include 'shortcut/base.html'%}

{% block content %}
    <div class="container" style="background-color: darkgrey; border-radius: 8px;">
        <br/>
        <div class="row mt-3 pt-3">
            <div class="col-md-3">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Calculator</h5>
                    <p class="card-text">This is a webpage where you can calculate the basic mathematical values.</p>
                    <hr><a class="btn btn-warning" href="/calculator"><strong>Visit Site</strong></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">This is a basic blog where you can post, update, delete your blogs.</p>
                    <hr><a class="btn btn-warning" href="/blog"><strong>Visit Site</strong></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Weather Detector</h5>
                    <p class="card-text">This is a webpage to get information about the weather and location of major cities.</p>
                    <hr><a class="btn btn-warning" href="/weatherDetector"><strong>Visit Site</strong></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Youtube Downloader</h5>
                    <p class="card-text">This is a web page from where you can download youtube videos .</p>
                    <hr><a class="btn btn-warning" href="/youtubeDownloader"><strong>Visit Site</strong></a>
                    </div>
                </div>
            </div>

        </div>
        <br/>
    </div>
{% endblock %}
